@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f4f4f9;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.navbar {
    background-color: #9ad3bc;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
}

.profile {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

#name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; 
}

.bio p {
    font-size: 16px; 
    color: #666;
    line-height: 1.5;
    margin-bottom: 5px; 
}

.bio {
    background-color: #f9f9f9; 
    border-left: 5px solid #ff6699; 
    padding: 10px;
    border-radius: 5px; 
}


.bio, .gallery, .contact-form {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    background-color: #ff6699;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, 
    transform 0.5s ease  ;
}

.new_button{
    background-color: green;
    transform: scale(1.05);
}

/* button:hover {
    background-color: #e57373;
} */

button.expand-details {
    background-color: #9ad3bc;
}

.additional-details.hidden {
    display: none;
}

.additional-details.show {
    display: block;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
}

.gallery-container img {
    flex: 1 1 200px;
    margin: 5px;
    width: calc(50% - 10px); 
    height: auto; 
    border-radius: 5px; 
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.contact-form form input, .contact-form form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form form button {
    grid-column: span 2;
}

footer {
    background-color: #b2ebf2;
    padding: 10px;
    text-align: center;
}

.profile-img, .gallery-container img {
    /* width: 100%; */
    height: auto; 
    border-radius: 5px; 
}


nav {
    background-color: #9ad3bc; 
    text-align: center; 
    padding: 10px 0; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

nav ul li {
    display: inline-block; 
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    font-size: 16px; 
}

@media (max-width: 768px){
  nav ul li{
    display: block;
    margin-bottom: 3px;
  }
  .profile-img{
    width: 100%;
  }
  .profile, .bio, .gallery{
    padding: 30px;
  }
  .contact-form form{
        display: flex;
        flex-direction: column;
    
  }
}
